body
    #wrapper
        #contents
            #img
                img(src='img/photo1.jpg')
                .name kosich
            #main


        //-
            todo: add perrsonal ifo 
            add links to
                jsgraient
                printable
                tanki
                tracker
                idlst
