body
    #wrapper
        #contents
            aside#sidebar
                #img
                    img(src='img/photo1.jpg')
                h1 kos
                h4 web developer
            section#main
                | hellow, kittie


        //-
            todo: add perrsonal ifo 
            add links to
                jsgraient
                printable
                tanki
                tracker
                idlst
