body
    #wrapper
        #contents
            #img
                img(src='img/photo_100x100.jpg')
                .name kosich
            #main
                | • • •


        //-
            todo: add perrsonal ifo 
            add links to
                jsgraient
                printable
                tanki
                tracker
                idlst
