#wrapper {
  background-color: #555;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 100vh;
  text-align: center;
}
#contents {
  box-sizing: border-box;
  padding: 1em;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
}
#contents h1 {
  color: #f9f9f9;
  font-family: 'Cambria';
  font-size: 5em;
  line-height: 1em;
  margin: 0;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.1), 0 0 3px #000000;
}
#contents h4 {
  font-family: 'Calibri', monospace;
  font-size: 1em;
  color: #ccc;
  margin: 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
